
/** -------------------------------------------
 
    ------------------------------------------- **/

.save-device-button.secondary-action {
    display: inline-block;
    @include font-size(20px);
    padding: 10px 30px;
    opacity: .3;

    &.selected {
        opacity: 1;
    }
}
.secondary-action.secondary-action {
	@include font-size(20px);
	padding: 10px 30px;
}


.btn_first {
	@include font-size(17px);
	font-weight: 400;
    padding: 12px 59px;
    color: $color-white;
	border-radius: 6px;
	border: solid 1px #ffffff;
	background: #0299cb;
}
.btn_second {
	@include font-size(17px);
	font-weight: 400;
    padding: 12px 59px;
    color: #0299cb;
	border-radius: 6px;
	border: solid 1px #0299cb;
	background: $color-white;
}

.reverse-action {
    background: $color-white;
    color: $color-primary;

    &:hover {
        background: $color-white;
        color: $color-primary;
        opacity: .8;
    }
}

.secondary-action {
    background: $color-secondary;
    color: #242a32;


    &:hover {
        opacity: .7;
    }
}

.white-action {
    background: $color-white;
    color: $color-dark-pink;

    &:hover {
        background: $color-white;
        color: $color-dark-pink;
        opacity: .8;
    }
}

.gray-action {
    background: $color-white;
    color: #525358;

    &:hover {
        background: $color-white;
        color: #525358;
        opacity: .8;
    }
}

.tertiary-action {
    background: $color-dark-gray;
    color: $color-white;

    &:hover {
        background: $color-dark-pink;
        color: $color-white;
        opacity: .8;
    }
}

.btn_third {
	color: #fff;
	background: #ffbc00;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		padding: 12px 30px 6px;
	}

	@media screen and (max-width: $base-phone) {
		padding: 10px 30px;

		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			padding: 10px 30px 8px;
		}
	}

	&:hover {
		color: $color-white;
	}

	&:focus {
		outline: 0;
	}
}
