input {

    &[type="radio"],
    &[type="checkbox"] {
        display: none;
    }

    &[type="radio"] + label {
        padding-left: 25px;
        color: $color-text;
        @include font-size(18px);
    }

    &[type="checkbox"] + label,
    .custom-second + label {
        color: #979797;
        @include font-size(18px);
        font-style: italic;

        @media screen and (max-width: $base-phone) {
            color: #4a4a4a;
            @include font-size(16px);
            font-style: normal;
        }
    }

    &[type="radio"] {

        & + label {

            span {
                display: inline-block;
                width: 23px;
                height: 23px;
                margin: 0 0 0 -25px;
                border: solid 1px #44cdd0;
                @include prefixer("border-radius" , "50%");
                background: #fff;
                cursor: pointer;
                vertical-align: middle;
                box-sizing: border-box;
            }

            &:hover {
                cursor: pointer;
            }

        }

        &:checked + label {

            span {
                border: solid 1px #44cdd0;
                background: #44cdd0;

                &::before {
                    @extend %font-icon;
                    @extend %icon-success;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include font-size(11px);
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    color: #fff;
                }
            }
        }
    }


    &[type="checkbox"]  {

        & + label {

            span {
                display: inline-block;
                position: relative;
                width: 25px;
                height: 25px;
                margin: -3px 5px 0 0;
                border: rgba(204, 204, 204, 0.7);
                @include prefixer("border-radius" , "0");
                @include prefixer("box-shadow","inset 0 1px 2px rgba(0, 0, 0, 0.1)");
                background: #f2f2f2;
                cursor: pointer;
                vertical-align: middle;
                box-sizing: border-box;

                @media screen and (max-width: $base-phone) {
                    width: 18px;
                    height: 18px;
                    border-radius: 0;
                }

                &:hover {
                    background: #ebebeb;
                }
            }
        }

        &:checked + label {

            span {
                background: #44cdd0;

                &::before {
                    @extend %font-icon;
                    @extend %icon-success;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include font-size(13px);
                    transform: translate(-50%, -50%);
                    color: #fff;

                    @media screen and (max-width: $base-phone) {
                        @include font-size(10px);
                    }
                }
            }
        }
    }
}