.page-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: auto;
	background-color: #fff;

	.header {
		a {
			text-decoration: none;
		}
	}
}

.page-main {
	display: flex;
	min-height: calc(100% - 145px);
	height: auto !important;
}

.container {
	display: block;
	max-width: 1180px;
	padding: 0 10px;
	width: 100%;
	margin: 0 auto;
}