
/** -------------------------------------------
 
    ------------------------------------------- **/

@include font-icon("fast-login", "fast-login");


@include font-face(GreycliffCF, GreycliffCF-DemiBold, 800);
@include font-face(GreycliffCF, GreycliffCF-Heavy, 700);
@include font-face(GreycliffCF, GreycliffCF-Bold, 600);
@include font-face(GreycliffCF, GreycliffCF-Medium, 500);
@include font-face(GreycliffCF, GreycliffCF-Regular, 400);

