body {
	background-color: white;
	font-size: 16px;
	height: 100%;
	color: #253342;
	font-family: 'GreycliffCF', sans-serif;
	font-weight: 500;
	margin: 0;
	overflow-x: hidden;
}

html {
	height: 100%;
}

i {
	font-style: normal;
	line-height: 1;
	display: inline-block;
}

i::before {
	font-size: 1.5rem;
}

[class*="icon-"] {

	&::before {
		font-family: 'hesappli';
	}
}

.inline-block {
	display: inline-block;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.block {
	display: block;
}

input, button , textarea, label , input::-webkit-input-placeholder{
	font-family: 'GreycliffCF', sans-serif;
	appearance: none;
}

.flexible-row {
	display: flex;
}

.pull-left {
	justify-content: flex-start;
}

.pull-right {
	justify-content: flex-end;
}

.pull-center {
	align-items: center;
	justify-content: center;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.align-items-center{
	align-items: center!important;;
}

.justify-content-between{
	justify-content: space-between!important;
}

.justify-content-around{
	justify-content: space-around!important;
}

.justify-content-center{
	justify-content: center !important;
}

.justify-content-start{
	justify-content: flex-start !important;
}

.hide {
	display: none;
}

.m-r-10 {
	margin-right: 10px !important;
}

.m-b-90 {
	margin-bottom: 90px !important;
}

.parsley-errors-list {
	margin: 0;
	margin-top: 4px;
	padding-left: 16px;

	li {
		font-size: 12px;
		font-weight: 500;
		line-height: 1.33;
		color: #cb2c30;
		list-style: none;
	}
}

select, input, span {
	&:focus {
		outline: none;
	}
}
